body {
	padding:0px;
}

/* Look of charts */
#charts>div{display:inline-block;}
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

svg {
	margin:20px;
	cursor:pointer;
	position:relative;
}


/* Tooltip plus small triangle extender*/
div.tooltip {	
	z-index:2;
    position: absolute;			
    text-align: center;
    margin-top:-16px;	
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;	
    background: lightsteelblue;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
.tooltip:after {
  margin-top:15px;
  margin-left:-25px;
  box-sizing: border-box;
  font-size: 10px;
  width: 10px;
  line-height: 1;
  color: lightsteelblue;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
