body {
  font-family: 'Raleway', sans-serif;
  background-color: #f1f1f1;
  color: #000;
}
header img {
  margin-top:16px;
  width:250px;
  max-width: calc(100% - 65px);
  max-width: -o-calc(100% - 65px); /* opera */
  max-width: -webkit-calc(100% - 65px); /* google, safari */
  max-width: -moz-calc(100% - 65px); /* firefox */
  float:right;
  float:top;
}
.back-to-index {
  position:absolute;
  left:24px;
  top:69px;
}
#bottombar{margin-top:20px;}
#sidenav{cursor:auto;}
#index ul{list-style: none;padding-left:0;}
#index li{margin: 1em 0;}
.main {
  /*min-height:100vh;*/
  min-height: calc(100vh - 94px);
  min-height: -o-calc(100vh - 94px); /* opera */
  min-height: -webkit-calc(100vh - 94px); /* google, safari */
  min-height: -moz-calc(100vh - 95px); /* firefox */
}
.blogcontent{
  padding-top:40px;
  margin-left:10%;
}
#aboutblog{
  right:24px;
  top:69px;
  position:absolute;
}
a,a:link,a:visited,a:hover,a:active {text-decoration:none;color:#000;}
div.date,div.meta,article a:visited{color:#757575}
div.meta{font-size:0.8em;margin-left:-6px;}
a.back-to-index, #aboutblog a{font-size:0.9em;font-weight:900!important}
#index {font-family: 'Work Sans', sans-serif;}
#index a {font-weight:900!important;}
article {
  margin:auto;
  padding:32px 32px 32px 32px;
  max-width:800px;
  font-family: 'Work Sans', sans-serif;
}
article a{font-weight:900!important;font-size:1.1em;}
article h1{margin:0px 0px 0px -8px;font-family: 'Raleway', sans-serif;}
article figure{text-align:center;}
article img {
  max-width:80%;
  max-height:500px;
}
footer{position:absolute;float:bottom;width:100%;}
@media screen and (min-width:993px){
  .back-to-index{left:204px;}
  .opacity-hide-large{opacity:0;cursor:auto;}
  .opacity-hide-large:hover{opacity:0;cursor:auto;}
}
@media screen and (max-width:500px){
.blogcontent,article{padding:32px 20px 32px 20px;}
}
