
  {{> header }}
  <div id="aboutblog"><nav><a href="/about">About this blog</a></nav></div>
  <div class="center bottombar padding-16" id="bottombar"></div>
  </header>

  <!-- Index -->
  <div class="blogcontent" id="index">
    <span style="margin-left:-3%"><img src="/images/Posts-normal.png" width="130px"></span>
    <ul class="recent">
    {{#each_upto articles 5 }}
      <li>
        <div class="title"><a href="{{ path }}">{{ title }}</a></div>
        <!--<div class="date">{{ date }}</div>-->
        <div class="date">{{ moment date lang="en" format="DD MMM[,] YYYY" }}</div>
      </li>
    {{/each_upto}}
    </ul>
  </div>

{{> footer }}