body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/sunset20160910.jpg');
    min-height: 100%;
}
/* Second image (Portfolio) */
.bgimg-2 {
    /*background-image: url("images/enchantments20160905.jpg");*/
    background-image: url("../images/froggtoggs20160905.jpg");
    min-height: 400px;
}
/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../images/discoveryben20161023.jpg");
    min-height: 400px;
}
.wide {letter-spacing: 10px;}
.hover-opacity {cursor: pointer;}
/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 993px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Added post template */
a,a:hover,a:visited,a:active{color:#666;}
.section {
padding: 1em 4% 2.5em;max-width:800px;margin-left:auto;margin-right:auto;
}
.section h3 {text-align:center;}
#contact {display:table;}
