/* STYLES!! */
body{
	background-color:#000;
	font-size:0px; /* added to get rid of mysterious upper and left margins */
	height:100%;
	padding: 0;
	margin: 0;
	overflow:hidden;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
figure {
	padding:0;
	height:100%;
	position:absolute;
	margin:0;
	display:block;
   	left:50%;
   	-webkit-transform: translate(-50%);
}
img {
	position:relative;
	height:100%;
}

/* the location of sisters*/
#aviva_area,#hannah_area,#showabout  {
	cursor:pointer;
	position:absolute;
	z-index:1;
}
#aviva_area{
	width:45%;
	height:85%;
	top:15%;
}
#hannah_area{
	width:54%;
	height:80%;
	top:10%;
	right:0;
}


/* show/hide various images based on mouseover 
and show/hide instructions and labels depending on screen size */
#default {opacity:1;}
#hl_aviva,#hl_hannah,#instructions,#about,.label{
	opacity:0;
	position:absolute;
	left:0;
	-webkit-transition:opacity 1s;
	transition:opacity 1s;
}
#aviva_area:hover + #hl_aviva{opacity:0.7;}
#hannah_area:hover + #hl_hannah{opacity:0.7;}
.label{
	position:relative;
	top:40%;
	left:30%;
	border-radius:5px;
}
#instructions {
	z-index:1;
	display:block;
	position:absolute;
	margin:auto;
	top:0;
	width:100%;
	padding:2px 5px 2px 5px;
	text-align:center;
}
#instructions,.label{
	padding:2px 5px 2px 5px;
	font-size:20px;
	background-color:black;
	color:#fff;
	font-family:sans-serif;
	font-weight:lighter;
	font-variant: small-caps;
	opacity:0;
}
@media only screen and (max-width:450px), screen and (max-height:500px) {
	#instructions,.label{opacity:0.7;}
}
@media only screen and (max-height:400px) {#instructions,.label{font-size:14px;}}
@media only screen and (max-height:300px) {.label{left:15%;}}
#aviva_area:hover span.label{opacity:0.7!important;}
#hannah_area:hover span.label{opacity:0.7!important;}

/* button to show about section */
#showabout{
	display:block;
	z-index:2;
	line-height:40px;
	font-size:36px;
	width:40px;
	background-color:transparent;
	color:#fff;
	text-align:center;
	font-family:sans-serif;
	bottom:0;
	right:4px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
#showabout:hover{font-size:40px;}
#showabout::after{margin-top:-40px;}
/*about section */
#about {
	opacity:0;
	max-width:85%;
	margin: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	left:0;
	top:0;
	z-index:0;
	height:80%;
	text-align:center;
	background-color:#000;
	color:#fff;
	font-size:16px;
	font-family:sans-serif;
	overflow-y:auto;
	padding:1em;
}
#about p {padding:0.2em;}
#about a:link,#about a:hover,#about a:visited,#about a:active{color:#fff;cursor:pointer;z-index:15;}
/*button to hide about section*/
#hideabout {
	color:#d3d3d3;
	display:block;
	cursor:pointer;
	float:right;
	font-size:20px;
}
#hideabout:hover{color:#fff;}










