<!DOCTYPE html>
<html>
  <head>
  <!--Meta-->
    <meta charset="utf-8">
    <title>{{#if title }}{{title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
    <meta name="referrer" content="never" />
  <!--Scripts-->
    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	  <script type="text/javascript" src="/js/general_fxns.js"></script>
  <!--Styles-->
    <link rel="stylesheet" href="/css/general_style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/blog.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work Sans"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
  <!--Icons-->
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  	<link rel="shortcut icon" href="/images/favicon.ico">
  	<link rel="icon" href="/images/favicon-32x32.png">
  </head>
  <body>

<!-- Sidenav/menu -->
<nav class="sidenav collapse white animate-left" style="z-index:3;width:180px;" id="sidenav"><br>
  <div class="container">
    <a href="#" onclick="close_sidenav()" class="hide-large right xxlarge padding" title="close menu">
      <i class="fa fa-times"></i>
    </a>
    <div class="padding-16"><img src="/images/BLOG-bold-bgwhite.png" height="41px" alt-text="Blog"></div>
  </div>
  <a href="http://www.hamavid.com/hannah" class="padding text-teal">HOME</a>
  <a href="http://www.hamavid.com/hannah/art/portfolio" class="padding">&#x1f648 ART</a>
  <a href="http://www.hamavid.com/hannah/music" class="padding">&#x1f649 MUSIC</a>
  <a href="http://www.hamavid.com/hannah/blog" class="padding">&#x1f64a BLOG</a>
  <a href="http://www.hamavid.com/hannah/#contact" class="padding">CONTACT</a>
   
   
  <div class="section padding-top large">
    <a href="https://soundcloud.com/hamavid" class="hover-white hover-text-red-orange show-inline-block"><i class="fa fa-soundcloud"></i></a>
    <!--<a href="#" class="hover-white hover-text-indigo show-inline-block"><i class="fa fa-linkedin"></i></a>-->
    <a href="https://www.etsy.com/shop/vayavaya" style="font-size:0.8em" class="hover-white hover-text-orange show-inline-block"><i class="fa fa-etsy"></i></a>
  </div> 
</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="overlay hide-large animate-opacity" onclick="close_sidenav()" style="cursor:pointer" title="close side menu" id="overlaySidenav"></div>

<!-- !PAGE CONTENT! -->
<div class="main" style="margin-left:180px">

  <!-- Header -->
  <header class="container">
    <span class="opennav opacity-hide-large xxlarge hover-text-grey" onclick="open_sidenav()"><i class="fa fa-bars" style="margin-top:9px"></i></span>
    <img src="/images/HannahHamavid-normal.png" alt-text="Hannah Hamavid">
    



